 header {
    font-family: 'Montserrat', sans-serif;
background-color: darkblue;
color: aliceblue;
 }

 #search-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 7000;
 }

 #search-input{
    margin: 0;
    width: 20%;
    align-self: left;


 }

 #current-weather {
    display: flex;
    border-color: blue;
    border-style: solid;
    align-self: right;
    width: 300px;
 }